<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Conecta</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <h1>
            <a href="/" id="home-link">
                <img width="20%" src="/images/ConectaLogo.jpg" alt="Conecta Logo">
            </a>
        </h1>
    </header>
    <div class="navbar">
        <button id="profile-button" onclick="loadContent('/profile', 'Perfil')">Perfil</button>
        <button id="inscripcion-button" onclick="loadContent(inscripcionContent, 'Inscripción')">Inscribirse como Empresa</button>
        <button id="calificar-button" onclick="loadContent(calificarContent, 'Calificación')">Calificar Empresa</button>
        <button id="solicitar-servicios-button" onclick="loadContent(solicitarServiciosContent, 'Servicios')">Servicios</button>
        <button id="ver-calificacion-button" onclick="loadContent(verCalificacionContent, 'Calificaciones')">Puntuación de Empresas</button>
        <button id="ver-estadisticas-button" onclick="loadContent(verEstadisticasContent, 'Estadísticas')">Solicitudes</button>
        <button id="cerrar-sesion-button" onclick="cerrarSesion()">Cerrar Sesión</button>
    </div>
    <div class="content" id="content">
        <!-- El contenido dinámico se cargará aquí -->
        <h2>Bienvenido a Conecta Servicios</h2>
        <p>Tu plataforma confiable y eficiente que te conecta con profesionales de diversos servicios con clientes cerca de ti, facilitándote transacciones seguras y eficientes.</p>
        <p>Seleccione una opción de la barra de navegación.</p>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=ATboIGvxz3Ud7_fa_LchpAkkVOtfherTlKfiTcR5zPBnSoQ6NdiyE8E4zNWSy5Nb9L4b37lbFvDO6bO8&currency=USD"></script>
    <script src="/scripts/scripts.js"></script>
</body>
</html>
